<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Yukarıdaki sabit yer</h2>
    <div>
        @RenderBody()
    </div>
    <h2>aşağıdaki sabit yer</h2>
</body>
</html>
